
@import url('https://fonts.googleapis.com/css?family=Google+Sans');

body {
    font-family: 'Google Sans',sans-serif;
    overflow-y:scroll;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
